<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<!-- Head -->

<head>
<title>Chat Bots</title>
<!-- meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Consult Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script>
  addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
    window.scrollTo(0, 1);
  }
</script>
<!-- meta tags -->

<!-- default css files -->
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all">
<!-- nav css file -->
<link href="css/jquery.fatNav.css" rel="stylesheet" type="text/css">
<!-- Font awesome css file -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- Single Page css file -->
<link href="css/single.css" rel="stylesheet" type="text/css" media="all" />
<!-- css file -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<!-- //default css files -->

<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Londrina+Outline" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
    rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Mako" rel="stylesheet">
<!-- //web font -->
<style>
.navbar {
    margin-bottom: 0;
    background-color: #2F4F4F;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
  .footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #2F4F4F;
}
.chat{

padding: 50px
650px;

}
.mater{
         letter-spacing: 1px;
      margin-top: 2em;
  padding-left:50px;
  font-family: Courier New", Courier, "Lucida Sans Typewriter";
}
.contact{
    padding-left:50px;
padding-right:50px;
}
.maters{

    padding-left:350px;

}
.butn{
    padding-left:50px;

}
</style>
</head>
<!-- //Head -->

<!-- Body -->

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<!-- header -->
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#myPage"> <img src="#" alt="logo" width="40" height="30"> </a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
          <li><a href="web.html">Home</a></li>

      <li><a href="#t">ABOUT</a></li>
      <li><a href="#services">SERVICES</a></li>
      <li><a href="#OurTech">Our Tech</a></li>
      <li><a href="#contact">CONTACT</a></li>
    </ul>
  </div>
</div>
</nav>
<br>
</br>





<!-- //header -->

<!-- banner-2 -->
<div class="page-head_agile_info_w3l">
</div>
<!-- //banner-2 -->
<!-- page -->
<div class="services-breadcrumb">
  <div class="agile_inner_breadcrumb">
    <div class="container-fluid">
      <ul class="w3_short">

        <li>Services </li>
      </ul>
    </div>
  </div>
</div>
<!-- //page -->

<!-- Services -->
<div class="services">
<div class= chat>
  <h3 class="tittle">
    <span>CHAT</span>
    <span>BOTS</span>
  </h3>
  </div>
  <div class="mater">
    <div id="about" class="container-fluid">
<div class="row">
  <div class="col-sm-7">
    <h4>A chatbot (also known as a talkbot, chatte  rbot, Bot, IM bot, interactive agent, or Artificial Conversational Entity) is a computer program which conducts a conversation via auditory or textual methods.[1] Such programs are often designed to convincingly simulate how a human would behave as a conversational partner, thereby passing the Turing test. Chatbots are typically used in dialog systems for various practical purposes including customer service or information acquisition. Some chatterbots use sophisticated natural language processing systems, but many simpler systems scan for keywords within the input, then pull a reply with the most matching keywords, or the most similar wording pattern, from a database. </h4><br>
    <br>
        <h4>A chatbot (also known as a talkbot, chatte  rbot, Bot, IM bot, interactive agent, or Artificial Conversational Entity) is a computer program which conducts a conversation via auditory or textual methods.[1] Such programs are often designed to convincingly simulate how a human would behave as a conversational partner, thereby passing the Turing test. Chatbots are typically used in dialog systems for various practical purposes including customer service or information acquisition. Some chatterbots use sophisticated natural language processing systems, but many simpler systems scan for keywords within the input, then pull a reply with the most matching keywords, or the most similar wording pattern, from a database. </h4><br>

  </div>
  <div class="col-sm-4">
           <img src="C:\Users\user\Desktop\website\images\2.jpg" alt="Company logo" width="500" height="400">

  </div>
</div>
</div>
<br>
</br>


<br>
</br><br>
</br><br>
</br><br>
</br>
 </div>
<div class="container-fluid bg-grey">
<div class="row">
  <div class="col-sm-4">
           <img src="C:\Users\user\Desktop\website\images\chatbot.png" alt="Company logo" width="500" height="500">
   </div>
  <div class="col-sm-7">
    <h2>Our sucess in Chat bots</h2>
  <br>
</br><br>
</br>
     <h4>   With less than a month to go before the NBA playoffs, The Golden State Warriors decided to create a Messenger bot to serve as the ultimate Warriors Playoffs concierge. Working with Chatfuel, they built a bot that allowed Warrior fans to communicate directly with the GSW organization and provide the latest 2017 NBA Playoff information on everything Warriors including game scores, highlights, merchandise information, player stats, arena parking and more. </h4>
     <h4>   With less than a month to go before the NBA playoffs, The Golden State Warriors decided to create a Messenger bot to serve as the ultimate Warriors Playoffs concierge. Working with Chatfuel, they built a bot that allowed Warrior fans to communicate directly with the GSW organization and provide the latest 2017 NBA Playoff information on everything Warriors including game scores, highlights, merchandise information, player stats, arena parking and more. </h4>

  </div>
</div>
</div>
<br>
</br>




<br>
<br>
<br>

<div class=" butn" >
<button class="btn btn-default btn-lg">        <a href="#contact">
Get in Touch</a></button>
    </div>
  </div>
  </div>

<!-- //banner bottom -->

<!-- middle section -->

<!-- //middle section -->
<!-- contact-->


<!-- //contact-->

<!-- footer -->
<footer class="container-fluid text-center">
<a href="#myPage" title="To Top">
</a>
<p>Alekta Solutions@2018</p>
</footer>
<!-- //footer -->

<!-- Js Files -->
<!-- Default-JavaScript-File -->
<script src="js/jquery-2.1.4.min.js"></script>
<!-- //Default-JavaScript-File -->

<!-- nav -->

<!-- //nav -->

<!-- scrolling script -->
<script>
  jQuery(document).ready(function ($) {
    $(".scroll").click(function (event) {
      event.preventDefault();
      $('html,body').animate({
        scrollTop: $(this.hash).offset().top
      }, 1000);
    });
  });
</script>
<!-- //scrolling script -->

<!-- Stars scrolling script -->
<script src="js/SmoothScroll.min.js"></script>
<script src="js/move-top.js"></script>
<script src="js/easing.js"></script>
<!-- here stars scrolling icon -->
<script>
  $(document).ready(function () {
    /*
      var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear'
      };
    */

    $().UItoTop({
      easingType: 'easeOutQuart'
    });

  });
</script>
<!-- //here ends scrolling icon -->
<!-- //Ends scrolling script -->

<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- //bootstrap js -->

<!-- //Js Files -->

</body>
<!-- //Body -->

</html>
